

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EtuStackOverflow</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/EtuStackOverflow.styles.css" asp-append-version="true" />

    <!--Site iconu-->
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/logo.jpg">

    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="~/plugins/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="~/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment/moment.min.js"></script>
</head>
<body>
    <header class="pb-5">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow fixed-top">
            <div class="container-fluid">
                <a href="/Home">
                    <img class="mr-3" src="~/images/logo.jpg" width="50" height="50" alt="Logo">
                </a>
                <span class="navbar-brand fw-bold">EtuStackOverflow</span>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center align-items-center">
                    <ul class="navbar-nav gap-5">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                                <span class="fs-5 fw-bold">
                                    Home
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Questions">
                                <span class="fs-5 fw-bold">
                                    Questions
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Users">
                                <span class="fs-5 fw-bold">
                                    Users
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Profile">
                                <span class="fs-5 fw-bold">
                                    Profile
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex justify-content-end align-items-center">
                     <a type="button" class="btn btn-outline-dark me-1" href="/auth/login">Login</a>
                    <a type="button" class="btn btn-outline-dark" href="/auth/register">Register</a>

                    @* <div class="icons dropdown">
                        <div class="user-img c-pointer position-relative" data-toggle="dropdown">
                            <span class="activity active"></span>
                            <img src="~/images/avatar/11.png" height="40" width="40" alt="">
                        </div>
                        <div class="drop-down dropdown-profile dropdown-menu">
                            <div class="dropdown-content-body">
                                <ul>
                                    <li>
                                        <a href="/Home/Profile"><i class="icon-user"></i> <span>Profile</span></a>
                                    </li>
                                    <li><a href="/Auth/Login"><i class="icon-key"></i> <span>Logout</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div> *@
                </div>
            </div>
        </nav>
    </header>

    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>

    <div class="main-content pt-5 pb-5">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>

    <div class="bg-white p-3 d-flex justify-content-center align-items-center fixed-bottom">
        <div class="copyright">
            <span>Copyright &copy; 2024 - EtuStackOverflow</span>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/plugins/common/common.min.js"></script>
    <script src="~/js/custom.min.js"></script>
    <script src="~/js/settings.js"></script>
    <script src="~/js/gleek.js"></script>
    <script src="~/js/styleSwitcher.js"></script>
    <script src="~/js/profile/profiledatalist.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
